<div class="left status {{ status }}"><i class="ion-record"></i></div>
<div class="left">
	<div class="channel-name up">{{ name }}</div>
	<div class="server-name">{{ server }}</div>
</div>
<div class="channel-unread right">{{ unread }}</div>
<div class="channel-close right" data-name="{{ name }}" data-server="{{ server }}">
	<span class="ion-close"></span>
</div>